body{
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 40px;
    width: 100%;
}
.b{
    font-weight: bold;
}
.i{
    font-style: italic;
}
.s{
    text-decoration: overline;
}

.ALERT {
    border-radius: 0.25rem;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 1rem 1rem 1rem 3rem;
    border: 1px solid #00000030;
}
.ALERT1 {
    background-color: #cfe2ff;
    border-left: 5px solid #0096ff;
    position: relative;
    color: #0f3458;
}
